<!-- projects/index.html.erb -->


#aparte de la lista de proyectos los botonres funcionan profe <3 
<h1>Holi este es el proyecto</h1>

<div class="card-deck">
  <div class="card">
    <%= image_tag 'project-1.png' %>
    <div class="card-body">
  
      <p class="card-text">Dcurriculum html .</p>
      <%= link_to 'Ver más', view1_path, class: 'btn btn-primary' %>
    </div>
  </div>
  
  <div class="card">
       <%= image_tag 'project-2.png' %>
    <div class="card-body">
    <div class="card-body">
    
      <p class="card-text">suricata page</p>
      <%= link_to 'Ver más', view2_path, class: 'btn btn-primary' %>
    </div>
  </div>
  
  <div class="card">
    <%= image_tag 'project-3.png' %>
    <div class="card-body">
    <div class="card-body">
 
      <p class="card-text">caulculadora e promedios</p>
      <%= link_to 'Ver más', view3_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
